.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25vh;
  margin-left: 80px;
}

.container button {
  background-color: #45259a;
  padding: 15px;
  border-radius: 8px;
  color: whitesmoke;
  margin: 20px;
  font-size: 1.2rem;
}

.banner {
  flex: 0 0 auto;
}
.svg {
  width: 28vw;
  margin-right: 15vh;
  height: auto;
  flex: 0 0 auto;
  max-width: 100%;
  box-sizing: border-box;
}

/* Media Query para telas menores que 975px */
@media (max-width: 975px) {
  .container {
    flex-direction: column;
  }

  .banner {
    margin-top: 20px;
  }
  .svg {
    width: 50vw;
  }
}
