.gerenciaVendas {
  margin-top: 150px;
  text-align: center;
}

.titulo {
  text-align: center;
}

.formProduto {
  display: inline-flex;
  margin-bottom: 40px;
}

.inputProduto {
  margin-bottom: 20px;
  padding: 15px;
  background-color: transparent;
  color: white;
  margin-right: 40px;
}
.inputProduto:focus {
  background-color: white;
  color: black;
}

.botaoProduto {
  padding: 15px;
  color: white;
  height: 100%;
}

.botaoEditar {
  padding: 5px 10px;
  margin-right: 10px;
  color: white;
}

.botaoExcluir {
  border: none;
  padding: 5px 10px;
  background-color: #cd4c64;
  color: white;
}

.botaoExcluir:hover {
  background-color: #dc3545;
}

@media screen and (max-width: 1216px) {
  .botaoExcluir,
  .botaoEditar {
    margin: 10px 5px 10px 5px;
    width: 100px;
  }
}

@media screen and (max-width: 840px) {
  .formProduto {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
    width: 70%;
  }

  table thead {
    border: none;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 4px solid #240c64;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #240c64;
    display: block;
    font-size: 0.95rem;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
